<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>book-list-servlet</servlet-name>
    <servlet-class>web.BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book-list-servlet</servlet-name>
    <url-pattern>/book-list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>book-rent-servlet</servlet-name>
    <servlet-class>web.BookRentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book-rent-servlet</servlet-name>
    <url-pattern>/book-rent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>book-add-servlet</servlet-name>
    <servlet-class>web.BookAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book-add-servlet</servlet-name>
    <url-pattern>/book-add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>book-return-servlet</servlet-name>
    <servlet-class>web.BookReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book-return-servlet</servlet-name>
    <url-pattern>/book-return</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>book-search-servlet</servlet-name>
    <servlet-class>web.BookSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book-search-servlet</servlet-name>
    <url-pattern>/book-search</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>book-delete-servlet</servlet-name>
    <servlet-class>web.BookDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book-delete-servlet</servlet-name>
    <url-pattern>/book-delete</url-pattern>
  </servlet-mapping>
</web-app>